APP_NAME="Buku Tamu KCD"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

WEB_PUSH_VAPID_SUBJECT=mailto:admin@example.com
WEB_PUSH_VAPID_PUBLIC_KEY=BDvZbdP-RPkJySimXk1X2LgWHcFWp1ra4EArlCoT4cTG9ouQeg9w3bfOkFQmrwMuzxvVSkq8254WppDoYkJrcgU
WEB_PUSH_VAPID_PRIVATE_KEY=k0tNU-kqefmc3ZAepvKZEcyc_4QbXG5sXGSTj4BzO4E
WEB_PUSH_TTL=300

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_CONNECTION=log
CACHE_STORE=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MAIL_MAILER=log
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="noreply@example.com"
MAIL_FROM_NAME="${APP_NAME}"
